<?xml version="1.0" encoding="UTF-8"?>

<!-- bootstrap="tests/autoload.php" -->
<phpunit 
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        syntaxCheck="false"
        strict="true"
        verbose="true">
    <testsuites>
        <testsuite name="UnitTests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
        <testsuite name="SeleniumTests">
            <directory suffix="Test.php">tests-selenium/selenium</directory>
        </testsuite>
        <testsuite name="SeleneseTest">
                <file>tests-selenium/TestSeleneseSuite.php</file>
            </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <!--
    <logging>
        <log type="coverage-html" target="build/coverage" title="UnitTests"
            charset="UTF-8" yui="true" highlight="true"
            lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">source</directory>
            <exclude>
                <file>source/autoload.php</file>
            </exclude>
        </whitelist>
    </filter>
    -->
</phpunit>
